* {
  box-sizing: border-box;
  background-color: rgb(37, 37, 37);
}

.App {
  text-align: center; 
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
}

.title {
  color: rgb(233, 233, 233);
  font-size: 1.4rem;
}

input {
  background-color: rgb(233, 233, 233);
  font-size: 0.7rem;
  margin-top: 1rem;
}

a {
  text-decoration: none;
  color:rgb(37, 37, 37);
}

.grid {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  margin-bottom: 1rem;
  transition: width 2s, height 2s, transform 0.8s;
}

.grid:hover,
.grid:focus{
  transform: scale(1.08);
}

.grid_item {
  min-width: 3rem;
  font-size: 0.6rem;
  background-color: rgb(216, 215, 215);
  border-top: 1px solid;
  border-right: 1px solid;
  border-left: 1px solid;
  border-bottom: 1px solid;
  margin-top: 0;
  margin-bottom: 0;
  padding: 5px;
}

@media (min-width: 950px) {
  .title {
    font-size: 2.5rem;
  }

  input {
    background-color: rgb(233, 233, 233);
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  .grid {
    max-width: 83%;
    transition: width 2s, height 2s, transform 0.8s;
  }
  
  .grid:hover,
  .grid:focus {
    transform: scale(1.1)
  }
  
  .grid_item {
    border-radius: 3px;
    min-width: 3.5rem;
    font-size: 0.9rem;
  }

  header {
    display: flex;
    justify-content: space-between;
    max-width: 83%;
    margin: 0 auto;
  }
}